In [1]:
import pandas as pd
import numpy as np

# Step1. Load your training data and explore some statistics

In [2]:
train = pd.read_csv('train.csv')

In [3]:
train.head()

   Score                                               Text
0      5  I received this product early from the seller!...
1      5  *****<br />Numi's Collection Assortment Melang...
2      5  I was very careful not to overcook this pasta,...
3      5  Buying this multi-pack I was misled by the pic...
4      5  These bars are so good! I loved them warmed up...

In [4]:
train.describe()

               Score
count  309131.000000
mean        4.180241
std         1.312151
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309131 entries, 0 to 309130
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Score   309131 non-null  int64
 1   Text    309131 non-null  object
dtypes: int64(1), object(1)
memory usage: 4.7+ MB

In [6]:
train.groupby('Score').describe()

         Text
        count  unique                                                top freq
Score
1       28521   28385  Muir Glen cans are lined in plastic and leach ...    8
2       16287   16265  It's been some time since I've bought these, a...    3
3       23296   23248  Well I liked the idea of the noodles. I took s...    3
4       43876   43792  ****<br />This is a good, albeit unexciting br...    5
5      197151  196616  Diamond Almonds<br />Almonds are a good source...   12

In [7]:
train.loc[0]

Score                                                    5
Text     I received this product early from the seller!...
Name: 0, dtype: object

In [8]:
train.loc[1]

Score                                                    5
Text     *****<br />Numi's Collection Assortment Melang...
Name: 1, dtype: object

In [9]:
train.loc[1,'Text']

'*****<br />Numi\'s Collection Assortment Melange includes:<br />5 Herbal Teas (caffeine-free, also called "teasans"):<br />* Dry Desert Lime: Lime Herbal Teasan<br />* Fields of Gold: Lemongrass Herbal Teasan<br />* Red Mellow Bush: Rooibos Herbal Teasan<br />* Bushmen\'s Brew: Honeybush Herbal Teasan<br />* Simply Mint: Moroccan Mint<br /><br />2 Green Teas (lower in caffeine):<br />* Temple of Heaven: Gunpowder Green Tea<br />* Monkey King: Jasmine Green Tea<br /><br />2 Black Teas (contain caffeine):<br />* Chinese Breakfast: Yunnan Black Tea<br />* Smoky Tarry: Lapsang Souchong Black Tea<br /><br />This is a total of nine different teas, two tea bags of each one in each box. Numi teas are known for their high-quality, organic and kosher ingredients, and in my opinion, are some of the tastiest and best teas I have ever tried. They do not include artificial ingredients or flavorings.<br /><br />On the box, the manufacturer writes: "From mist-covered mountains to sun-drenched deserts to fertile fields, we proudly bring you our tea palette. The flavors range from smooth earthiness, and light floral scents, to refreshingly sweet and sour notes. What they all share is the recollection of how some Ancient One tamed fire and water to coexist harmoniously, and steeped in them the gifts of Nature. Since that distant past, people have soothed, roused, healed, explored and celebrated with these wonderful infusions. We encourage you to do the same with Numi\'s finest."<br /><br />The price is perfect, a big savings over single boxes. If you like Numi teas and want to sample a wonderful assortment, get it---you won\'t be sorry. There may be some you like and others you don\'t, but sampling them will be a delightful experience. If you are new to Numi this is an excellent way to sample their high-quality teas. I do not think you could find a better source of premium tea than Numi.<br /><br />Highly recommended.<br />*****'

In [10]:
train.loc[0,'Text']

'I received this product early from the seller! They are a very tastey & a Great mid-day snack. I have shared them with my Glutten Free Friends & they will be ordering this product & more very soon.'

# Step2. Create a train-test split and validate an initial models:

## 2.1 Create  a train-test split and check label distibuition and size of the splits

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
to_train, to_test=train_test_split(train, test_size=0.25, random_state=10)

In [13]:
to_train.groupby('Score').describe() # check the label distribuition in your training data

         Text
        count  unique                                                top freq
Score
1       21316   21237  Muir Glen cans are lined in plastic and leach ...    7
2       12268   12254  It's been some time since I've bought these, a...    2
3       17414   17393  Bought this at Ralphs, 1 for $4.49 to try and ...    2
4       32944   32900  ****<br />This is a good, albeit unexciting br...    4
5      147906  147605  Diamond Almonds<br />Almonds are a good source...   10

In [14]:
to_test.groupby('Score').describe() # check the label distribuition in your test data

        Text
       count unique                                                top freq
Score
1       7205   7199  These Sweetleaf "flavored" products are only f...    2
2       4019   4018  I should have known when I selected these pack...    2
3       5882   5875  Nice taste, but too tough to chew for me. It h...    2
4      10932  10926  These are wonderful snacks...I like them, but ...    2
5      49245  49208  This is a great product, healthy, low sodium, ...    4

In [15]:
to_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77283 entries, 256072 to 138801
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Score   77283 non-null  int64
 1   Text    77283 non-null  object
dtypes: int64(1), object(1)
memory usage: 1.8+ MB

In [16]:
to_test.head()

        Score                                               Text
256072      5  These cookies are soft and delicious. I am ver...
191163      5  My son is allergic to cow's milk, and this is ...
91982       5  Fast and easy to make, delicious to eat, and n...
41300       5  5 hour energy drink definitely works I have no...
23212       5  This tea is just so so so so so so so gooodddd...

## 2.2 Transform your data using TF-IDf , train a logistic regression classifier with  the training split " to_train "

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [18]:
tfidf = TfidfVectorizer()
X_train = tfidf.fit_transform(to_train['Text'])
X_train

<231848x92036 sparse matrix of type '<class 'numpy.float64'>'
	with 12454986 stored elements in Compressed Sparse Row format>

In [19]:
model = LogisticRegression()
model.fit(X_train, to_train.Score)

/Users/neamatelgayar/anaconda3/lib/python3.11/site-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [20]:
X_test = tfidf.transform(to_test['Text'])

In [21]:
X_test

<77283x92036 sparse matrix of type '<class 'numpy.float64'>'
	with 4138135 stored elements in Compressed Sparse Row format>

In [22]:
y = model.predict(X_test)

In [23]:
model.score(X_test,to_test.Score) # Results on Logistic regression using Tf-Idf

0.725489434933944

In [24]:
model.score(X_train,to_train.Score) # Verify results on the train data

0.7487362409854732

## 2.3 Test the results on a ZeroR classifier ( majority vote )

In [25]:
from sklearn.dummy import DummyClassifier
zeroR=DummyClassifier(strategy="most_frequent")
zeroR.fit(X_train, to_train.Score)
zeroR.score(X_test,to_test.Score)
# Your ZeroR classifier (Majority class classifier )

0.6372035247078918

# Step 3 Making submission on Kaggle test data test.csv

## 3.1 Load and check your kaggle test data

In [26]:
test = pd.read_csv('test.csv')

In [27]:
test.head()

   Id                                               Text
0   0  Fog chaser was the best both in flavor and bod...
1   1  We found this at PF Changs, and it tastes just...
2   2  Not quite a chocolate bar substitute but delic...
3   3  This is not as tasty as Pamela's Almond Biscot...
4   4  <a href="http://www.amazon.com/gp/product/B000...

In [28]:
test.describe()

                  Id
count  119662.000000
mean    59830.500000
std     34543.588293
min         0.000000
25%     29915.250000
50%     59830.500000
75%     89745.750000
max    119661.000000

## 3.2 Tranform and score your data using same model created in step 2

In [29]:
x_test = tfidf.transform(test['Text'])

In [30]:
x_test

<119662x92036 sparse matrix of type '<class 'numpy.float64'>'
	with 6439612 stored elements in Compressed Sparse Row format>

In [31]:
yy=model.predict(x_test)

In [32]:
yy.shape

(119662,)

## 3.3 Save your submission and make sure the identifiers are stored

For Kaggle competition , you need to do a submission to score the test data set (test.csv).  Once you have predicted y on test.csv, you can make a submission. Your submission should have the same 'Id' for each record. The file 'SampleSubmission' can help you use the same 'Id' as the test.csv  
Check the performance on the baseline classifiers above to see how well you are scoring.

In [48]:
sample=pd.read_csv('SampleSubmission.csv') # submission of majority class

In [49]:
sample.head()

   Id  Score
0   0      3
1   1      3
2   2      3
3   3      3
4   4      3

In [50]:
sample.describe()

                  Id     Score
count  119662.000000  119662.0
mean    59830.500000       3.0
std     34543.588293       0.0
min         0.000000       3.0
25%     29915.250000       3.0
50%     59830.500000       3.0
75%     89745.750000       3.0
max    119661.000000       3.0

In [51]:
sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119662 entries, 0 to 119661
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      119662 non-null  int64
 1   Score   119662 non-null  int64
dtypes: int64(2)
memory usage: 1.8 MB

In [52]:
sample.groupby('Score').describe()

             Id                                                           \
          count     mean           std  min       25%      50%       75%
Score
3      119662.0  59830.5  34543.588293  0.0  29915.25  59830.5  89745.75


            max
Score
3      119661.0

In [53]:
sample['Score'] = yy # save the labels for your model to csv file, you will use this for you Kaggle competition submission

sample.to_csv('Mysubmission.csv', index=False)

## 3.4 Check your submission file

In [54]:
view_submitted=pd.read_csv('Mysubmission.csv')

In [55]:
view_submitted.describe()

                  Id          Score
count  119662.000000  119662.000000
mean    59830.500000       4.378616
std     34543.588293       1.266393
min         0.000000       1.000000
25%     29915.250000       5.000000
50%     59830.500000       5.000000
75%     89745.750000       5.000000
max    119661.000000       5.000000

In [56]:
view_submitted.head()

   Id  Score
0   0      5
1   1      5
2   2      5
3   3      5
4   4      5